.list-nav {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 450px;
	margin-top: 40px;
}
.list-nav .list-nav-item{
	display: inline-block;
	text-align:center;
	font-size: 30px;
	margin-left: 10px;
	text-decoration: none;
	vertical-align: top;
	font-family: 'Simplifica';
}